{% block page_product_detail_back_in_stock_form %}
    <div class="klaviyo-stock-notification-container">
        {% set notificationConfigurationOptions = {
            publicApiKey:  extensionData.configuration.publicApiKey,
            listName: extensionData.configuration.subscribersListName,
            variantID: page.product.id,
            productID: page.product.parentId,
        } %}

        <button class="btn btn-primary" data-toggle="modal" data-target="#back-in-stock-modal">Notify me when available!
        </button>
        <div class="klaviyo-back-in-stock-form-modal modal fade" id="back-in-stock-modal" tabindex="-1" role="dialog"
             aria-labelledby="back-in-stock-modal"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="exampleModalLabel">{{ "klaviyo.back-in-stock.modal.title"|trans }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="productDetailPageBackInStockForm"
                              data-klaviyo-back-in-stock-notification
                              data-klaviyo-back-in-stock-notification-options="{{ notificationConfigurationOptions|json_encode }}"
                              method="post"
                              class="back-in-stock">
                            {% block page_product_detail_back_in_stock_container %}
                                <div class="form-row back-in-stock-container">
                                    {% block page_product_detail_back_in_stock_email_container %}
                                        <div class="col-12 mb-4">
                                            <label class="form-label"
                                                   for="email">{{ "klaviyo.back-in-stock.modal.email"|trans }}</label>
                                            <input class="form-control" id="email" type="email" name="email" required
                                                   placeholder="{{ "klaviyo.back-in-stock.modal.email-placeholder"|trans }}">
                                        </div>
                                    {% endblock %}
                                    {% block page_product_detail_back_in_stock_variant_input %}
                                        <input type="hidden" name="variant" value="{{ page.product.id }}"/>
                                    {% endblock %}
                                    {% block page_product_detail_back_in_stock_platform_input %}
                                        <input type="hidden" name="platform" value="shopware-6"/>
                                    {% endblock %}
                                    {% block page_product_detail_back_in_stock_variant_subscribe_input %}
                                        <div class="col-12 mb-4">
                                            <input id="subscribeToNewsletter"
                                                   type="checkbox"
                                                   name="subscribeToNewsletter"
                                            >
                                            <label class="form-label" for="subscribeToNewsletter">
                                                {{ "klaviyo.back-in-stock.modal.subscribe-to-newsletter"|trans }}
                                            </label>
                                        </div>
                                    {% endblock %}
                                    {% block klaviyo_back_in_stock_messages_container %}
                                        <div class="klaviyo-message-container col-12">
                                            <div class="klaviyo-success klaviyo-message d-none mb-4">
                                                {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                                    type: 'success',
                                                    content: 'klaviyo.back-in-stock.messages.response-success-message'|trans|sw_sanitize
                                                } %}
                                            </div>
                                            <div class="klaviyo-error klaviyo-message d-none mb-4">
                                                {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                                    type: 'danger',
                                                    content: 'klaviyo.back-in-stock.messages.response-error-message'|trans|sw_sanitize
                                                } %}
                                            </div>
                                            <div class="klaviyo-email-not-valid klaviyo-message d-none mb-4">
                                                {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                                    type: 'danger',
                                                    content: "klaviyo.back-in-stock.messages.not-valid-email"|trans|sw_sanitize
                                                } %}
                                            </div>
                                        </div>
                                    {% endblock %}
                                    {% block page_product_detail_back_in_stock_button %}
                                        <div class="col-12">
                                            <button class="btn btn-outline-primary btn-submit-stock-notification">{{ "klaviyo.back-in-stock.modal.subscribe"|trans }}</button>
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">{{ "klaviyo.back-in-stock.modal.close-modal"|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
