{% block klaviyo_back_in_stock_form %}
    <div class="klaviyo-stock-notification-container">
            {% set notificationConfigurationOptions = {
                publicApiKey:  extensionData.configuration.publicApiKey,
                listName: extensionData.configuration.subscribersListName,
                variantID: page.product.productNumber,
                productID: page.product.parentId,
            } %}

        {% block klaviyo_back_in_stock_modal_open %}
            <button class="btn btn-primary" data-toggle="modal"
                    style="{% if extensionData.configuration.popUpOpenBtnColor %}color: {{ extensionData.configuration.popUpOpenBtnColor }};{% endif %}{% if extensionData.configuration.popUpOpenBtnBgColor %}background-color: {{ extensionData.configuration.popUpOpenBtnBgColor }}; border-color: {{ extensionData.configuration.popUpOpenBtnBgColor }};{% endif %}"
                    data-target="#back-in-stock-modal"> {{ "klaviyo.back-in-stock.modal.openBtnLabel"|trans }}
            </button>
        {% endblock %}
        {% block klaviyo_back_in_stock_modal_base %}
            <div class="klaviyo-back-in-stock-form-modal modal fade {% if extensionData.configuration.popUpConfiguration.popUpAdditionalClasses %}{{ extensionData.configuration.popUpConfiguration.popUpAdditionalClasses }}{% endif %} {% block klaviyo_back_in_stock_modal_additional_classes %}{% endblock %}"
                 id="back-in-stock-modal" tabindex="-1"
                 role="dialog"
                 aria-labelledby="back-in-stock-modal"
                 aria-hidden="true">

                {% block klaviyo_back_in_stock_modal_inner_container %}
                    <div class="modal-dialog" role="document">
                        {% block klaviyo_back_in_stock_modal_content %}
                            <div class="modal-content">
                                {% block klaviyo_back_in_stock_modal_header %}
                                    <div class="modal-header">
                                        {% block klaviyo_back_in_stock_modal_prodict_name %}
                                            <h5 class="modal-title"
                                                id="exampleModalLabel">{{ page.product.translated.name }}</h5>
                                        {% endblock %}
                                        {% block klaviyo_back_in_stock_modal_top_close %}
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                                {% block klaviyo_back_in_stock_modal_body %}
                                    <div class="modal-body">
                                        {% block klaviyo_back_in_stock_modal_content_form %}
                                            <form id="productDetailPageBackInStockForm"
                                                  data-klaviyo-back-in-stock-notification
                                                  data-klaviyo-back-in-stock-notification-options="{{ notificationConfigurationOptions|json_encode }}"
                                                  method="post"
                                                  class="back-in-stock">
                                                {% block klaviyo_back_in_stock_modal_container %}
                                                    <div class="form-row back-in-stock-container">

                                                        {% block klaviyo_back_in_stock_subscription_message %}
                                                            <div class="col-12 my-4">
                                                                <strong>{{ "klaviyo.back-in-stock.modal.contentMessage"|trans }}</strong>
                                                            </div>
                                                        {% endblock %}

                                                        {% block klaviyo_back_in_stock_email_container %}
                                                            <div class="col-12 mb-4">
                                                                {% block klaviyo_back_in_stock_modal_email_label %}
                                                                    <label class="form-label"
                                                                           for="email">{{ "klaviyo.back-in-stock.modal.email"|trans }}</label>
                                                                {% endblock %}
                                                                {% block klaviyo_back_in_stock_modal_email_input %}
                                                                    <input class="form-control" id="email" type="email"
                                                                           name="email"
                                                                           required
                                                                           placeholder="{{ "klaviyo.back-in-stock.modal.email-placeholder"|trans }}">
                                                                {% endblock %}
                                                            </div>
                                                        {% endblock %}

                                                        {% block klaviyo_back_in_stock_modal_form_additional_inputs %}{% endblock %}

                                                        {% block klaviyo_back_in_stock_modal_subscribe_to_newsletter %}
                                                            <div class="col-12 mb-4">
                                                                {% block klaviyo_back_in_stock_modal_subscribe_to_newsletter_input %}
                                                                    <input id="subscribeToNewsletter"
                                                                           type="checkbox"
                                                                           name="subscribeToNewsletter"
                                                                    >
                                                                {% endblock %}
                                                                {% block klaviyo_back_in_stock_modal_subscribe_to_newsletter_label %}
                                                                    <label class="form-label"
                                                                           for="subscribeToNewsletter">
                                                                        {{ "klaviyo.back-in-stock.modal.subscribe-to-newsletter"|trans }}
                                                                    </label>
                                                                {% endblock %}
                                                            </div>
                                                        {% endblock %}

                                                        {% block klaviyo_back_in_stock_messages_container %}
                                                            <div class="klaviyo-message-container col-12">
                                                                {% block klaviyo_back_in_stock_modal_success_message %}
                                                                    <div class="klaviyo-success klaviyo-message d-none mb-4">
                                                                        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                                                            type: 'success',
                                                                            content: 'klaviyo.back-in-stock.messages.response-success-message'|trans|sw_sanitize
                                                                        } %}
                                                                    </div>
                                                                {% endblock %}
                                                                {% block klaviyo_back_in_stock_modal_error_message %}
                                                                    <div class="klaviyo-error klaviyo-message d-none mb-4">
                                                                        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                                                            type: 'danger',
                                                                            content: 'klaviyo.back-in-stock.messages.response-error-message'|trans|sw_sanitize
                                                                        } %}
                                                                    </div>
                                                                {% endblock %}
                                                                {% block klaviyo_back_in_stock_modal_not_valid_email_message %}
                                                                    <div class="klaviyo-email-not-valid klaviyo-message d-none mb-4">
                                                                        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                                                            type: 'danger',
                                                                            content: "klaviyo.back-in-stock.messages.not-valid-email"|trans|sw_sanitize
                                                                        } %}
                                                                    </div>
                                                                {% endblock %}
                                                            </div>
                                                        {% endblock %}

                                                        {% block klaviyo_back_in_stock_button %}
                                                            <div class="col-12">
                                                                <button class="btn btn-primary btn-submit-stock-notification" style="{% if extensionData.configuration.popUpConfiguration.subscribeBtnColor %}color:{{ extensionData.configuration.popUpConfiguration.subscribeBtnColor }};{% endif %}{% if extensionData.configuration.popUpConfiguration.subscribeBtnBgColor %}background-color:{{ extensionData.configuration.popUpConfiguration.subscribeBtnBgColor }}; border-color:{{ extensionData.configuration.popUpConfiguration.subscribeBtnBgColor }};{% endif %}">{{ "klaviyo.back-in-stock.modal.subscribeBtnLabel"|trans }}</button>
                                                            </div>
                                                        {% endblock %}
                                                    </div>
                                                {% endblock %}
                                            </form>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                                {% block klaviyo_back_in_stock_modal_footer %}
                                    <div class="modal-footer">
                                        {% block klaviyo_back_in_stock_modal_footer_close_button %}
                                            <button type="button" class="btn btn-secondary"
                                                    style="{% if extensionData.configuration.popUpConfiguration.popUpCloseBtnColor %}color:{{ extensionData.configuration.popUpConfiguration.popUpCloseBtnColor }};{% endif %}{% if extensionData.configuration.popUpConfiguration.popUpCloseBtnBgColor %}background-color:{{ extensionData.configuration.popUpConfiguration.popUpCloseBtnBgColor }};{% endif %}"
                                                    data-dismiss="modal">{{ "klaviyo.back-in-stock.modal.closeBtnLabel"|trans }}</button>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
