<Product>
    <id>{{ product.productNumber }}</id>
    <title>{{ product.translated.name|escape }}</title>
    <link>{{ seoUrl('frontend.detail.page', {'productId': product.id}) }}</link>
    <description>{{ product.translated.description|escape }}</description>
    <price>{% set price = product.calculatedPrice %} {% if product.calculatedPrices.count %} {% set price = product.calculatedPrices.last %} {% endif %} {{ price.unitPrice }}</price>
    {%- if product.cover is not null and product.cover.media -%}
    <image_link>{{ product.cover.media.url }}</image_link>
    {%- else -%}
    <image_link>n/a</image_link>
    {%- endif -%}
    {%- if product.categories|length > 0 -%}
        {% set categoryNames = [] %}

        {% for category in product.categories %}
            {% set categoryNames = categoryNames|merge([category.translated.name]) %}
        {% endfor %}
        <categories>{{ categoryNames|join(',')|raw|escape }}</categories>
    {%- else -%}
        <categories>n/a</categories>
    {%- endif -%}
    <inventory_quantity>{{ product.availableStock }}</inventory_quantity>
    <inventory_policy>1</inventory_policy>
</Product>
